



@keyframes soft-ripple {
  0% {
    transform: scale(0.9);
    opacity: 0.2;
  }
  70% {
    transform: scale(1.7);
    opacity: 0.1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.smooth-ripple {
  animation: soft-ripple 2s ease-in-out infinite;
}
@import "tailwindcss";
@import 'remixicon/fonts/remixicon.css'
